<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>
    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css"/>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    这是占据固定宽度的
</div>
<div class="container-fluid">
    这是占据全部视口（viewport）的容器
</div>

<div class="container">
    <div class="row" >
        <div class="col-md-1" style="border: 1px solid #f00; background-color: #0ff">.col-md-1</div>
        <div class="col-md-1" style="border: 1px solid #f00; background-color: #0ff">.col-md-1</div>
        <div class="col-md-1" style="border: 1px solid #f00; background-color: #0ff">.col-md-1</div>
        <div class="col-md-1" style="border: 1px solid #f00; background-color: #0ff">.col-md-1</div>
        <div class="col-md-1" style="border: 1px solid #f00; background-color: #0ff">.col-md-1</div>
        <div class="col-md-1" style="border: 1px solid #f00; background-color: #0ff">.col-md-1</div>
        <div class="col-md-1" style="border: 1px solid #f00; background-color: #0ff">.col-md-1</div>
        <div class="col-md-1" style="border: 1px solid #f00; background-color: #0ff">.col-md-1</div>
        <div class="col-md-1" style="border: 1px solid #f00; background-color: #0ff">.col-md-1</div>
        <div class="col-md-1" style="border: 1px solid #f00; background-color: #0ff">.col-md-1</div>
        <div class="col-md-1" style="border: 1px solid #f00; background-color: #0ff">.col-md-1</div>
        <div class="col-md-1" style="border: 1px solid #f00; background-color: #0ff">.col-md-1</div>
    </div>
    <div class="row">
        <div class="col-md-8" style="border: 1px solid #f00; background-color: #0ff">.col-md-8</div>
        <div class="col-md-4" style="border: 1px solid #f00; background-color: #0ff">.col-md-4</div>
    </div>
    <div class="row">
        <div class="col-md-4" style="border: 1px solid #f00; background-color: #0ff">.col-md-4</div>
        <div class="col-md-4" style="border: 1px solid #f00; background-color: #0ff">.col-md-4</div>
        <div class="col-md-4" style="border: 1px solid #f00; background-color: #0ff">.col-md-4</div>
    </div>
    <div class="row">
        <div class="col-md-6" style="border: 1px solid #f00; background-color: #0ff">.col-md-6</div>
        <div class="col-md-6" style="border: 1px solid #f00; background-color: #0ff">.col-md-6</div>
    </div>
    <div class="row">
        <div class="col-md-3" style="border: 1px solid #f00; background-color: #0ff">.col-md-3</div>
        <div class="col-md-3" style="border: 1px solid #f00; background-color: #0ff">.col-md-3</div>
        <div class="col-md-3" style="border: 1px solid #f00; background-color: #0ff">.col-md-3</div>
        <div class="col-md-3" style="border: 1px solid #f00; background-color: #0ff">.col-md-3</div>
    </div>
</div>

<div class="container">
    <h1>h1. Bootstrap heading</h1>
    <h2>h2. Bootstrap heading</h2>
    <h3>h3. Bootstrap heading</h3>
    <h4>h4. Bootstrap heading</h4>
    <h5>h5. Bootstrap heading</h5>
    <h6>h6. Bootstrap heading</h6>
</div>

</body>
</html>