<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>塑米金融</title>
<meta name="keywords" content="塑米金融" />
<meta name="description" content="塑米金融" />
<link rel="stylesheet" type="text/css" href="css/global.css"/>
<link rel="stylesheet" type="text/css" href="css/index.css"/>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript">
	$(function(){
	$(".bannerslider").slide({ mainCell:".pic",effect:"fold", autoPlay:true, delayTime:600, trigger:"click"});	
});
</script>
</head>

<body>
<div class="site_nav">
	<div class="site_nav_bd">
    	<h4 class="site_nav_logo"><a href="#"><img src="images/logo.png" /></a></h4>
        <div class="fr">
        <ul class="nav">
        	<li class="curr"><a href="#">首页</a></li>
            <li><a href="#">企业理财</a></li>
            <li><a href="#">货物融资</a></li>
            <li><a href="#">货物贷款</a></li>
            <li><a href="#">关于我们</a></li>
        </ul>
        <div class="login_box"><a href="#" class="login_btn">登录</a><a href="#" class="reg_btn">注册</a></div>
        </div>
    </div>
</div>

<div class="bannerslider">
	<div class="hd"><a></a><a></a><a></a></div>
	<ul class="pic">
        <li style="background:url(images/banner0.jpg) no-repeat center top;"></li>
        <li style="background:url(images/banner1.jpg) no-repeat center top;"></li>
        <li style="background:url(images/banner2.jpg) no-repeat center top;"></li>
    </ul>
    
    <div class="banner_text">
    	<div class="banner_smtx">
            <h3 class="fs16p orange">塑米城金融</h3>
            <p>帮您搞定资金 货物问题</p>
        </div>
        <div class="banner_smy">
        	<a href="#">
                <h4 class="fs16p">任你存</h4>
                <p class="gray">预期年化收益4.99%</p>
            </a>
        </div>
        <div class="banner_smy">
        	<a href="#">
                <h4 class="fs16p">随你押</h4>
                <p class="gray">有货 没有钱？</p>
            </a>
        </div>
        <div class="banner_smy">
        	<a href="#">
                <h4 class="fs16p">帮你卖</h4>
                <p class="gray">没钱 想买货？</p>
            </a>
        </div>
    </div>
    
</div>

<div class="investment_financing">
	<div class="inv_fina">
    	
    	<div class="inv_fina_left">
        	<h3 class="inv_fina_left_h3">任你存</h3>
            <div class="fl w226p pr">
            	<img class="fl" src="images/icon1.jpg" width="226" height="407"/>
            	<div class="inf_ld_ch_btn"><a href="#">立即赚钱</a></div>
            </div>
            
            <div class="inv_fina_left_dv">
            	<h3 class="inv_fl_h3"><span class="fs16p">申请流程</span></h3>
                <p class="tac"><img src="images/icon38.jpg" width="892" height="97" /></p>
                <ul class="application_process">
                	<li style="padding-left:0;width:180px;">在线开户</li>
                    <li style="padding-left:50px;width:123px;">银行转账</li>
                    <li style="padding-left:84px;width:103px;">购买理财</li>
                    <li style="padding-left:85px;width:123px;">资金收益</li>
                    <li style="padding-left:90px;width:90px;">赎回到账</li>
                </ul>
                
                <h4 class="inv_fl_h3"><span class="fs16p">合作企业</span><div class="fr" style="padding-right:19px;padding-top:5px;"><a href="#" class="left_last">左</a><a href="#" class="right_next">右</a></div></h4>
                	<div class="inv_company">
                    	<ul>
                        	<li>汕头市金丰达贸易有限公司</li>
                            <li>上海云意国际贸易有限公司</li>
                            <li>广东华润丰实业有限公司</li>
                            <li>汕头市金丰达贸易有限公司</li>
                            <li>上海云意国际贸易有限公司</li>
                            <li>广东华润丰实业有限公司</li>
                            <li>汕头市金丰达贸易有限公司</li>
                            <li>上海云意国际贸易有限公司</li>
                            <li>广东华润丰实业有限公司</li>
                            <li>汕头市金丰达贸易有限公司</li>
                            <li>上海云意国际贸易有限公司</li>
                            <li>广东华润丰实业有限公司</li>
                            <li>汕头市金丰达贸易有限公司</li>
                            <li>上海云意国际贸易有限公司</li>
                            <li>广东华润丰实业有限公司</li>
                            <li>汕头市金丰达贸易有限公司</li>
                            <li>上海云意国际贸易有限公司</li>
                            <li>广东华润丰实业有限公司</li>
                        </ul>
                	</div>
            </div>
            
        </div>
        
    </div>
</div>



<div class="investment_financing">
	<div class="inv_fina">
    	
    	<div class="inv_fina_left">
        	<h3 class="inv_fina_left_h3">帮你卖</h3>
            <div class="fl w226p pr">
                <img class="fl" src="images/icon2.jpg"  width="226" height="407"/>
                <div class="inf_ld_ch_btn"><a href="#">我要卖</a></div>
            </div>
            
             <div class="inv_fina_left_dv bordergreen">
            	<h3 class="inv_fl_h3"><span class="fs16p">申请流程</span></h3>
                <p class="tac"><img src="images/icon39.jpg" width="892" height="97" /></p>
                <ul class="application_process">
                	<li style="padding-left:0;width:180px;">资质申请</li>
                    <li style="padding-left:50px;width:123px;">现货入库</li>
                    <li style="padding-left:84px;width:103px;">放款</li>
                    <li style="padding-left:85px;width:123px;">塑米城代卖</li>
                    <li style="padding-left:90px;width:90px;">结算</li>
                </ul>
                
                
                
                <div class="buy_varieties">
                	<h4>帮你卖品种</h4>
                    <ul>
                    	<li>HDPE</li>
                        <li>LDPE</li>
                        <li>LLDPE</li>
                        <li>PP</li>
                        <li>MLLDPE</li>
                        <li>ABS</li>
                        <li>PVC</li>
                        <li>HIPS</li>
                    </ul>
                </div>
                <div class="buy_warehouse">
                	<h4>帮你卖仓库</h4>
                    <ul>
                    	<li>青岛</li>
                        <li>营口</li>
                        <li>宁波</li>
                        <li>宝山</li>
                        <li>黄埔</li>
                        <li>港东</li>
                        <li>汕头</li>
                        <li>余姚</li>
                    </ul>
                </div>
                
                
             </div>
            
            
            
        </div>
        
    </div>
</div>


<div class="investment_financing">
	<div class="inv_fina">
    	
    	<div class="inv_fina_left">
        	<h3 class="inv_fina_left_h3">随你押</h3>
            <div class="fl w226p pr">
                <img class="fl" src="images/icon3.jpg"  width="226" height="407"/>
                <div class="inf_ld_ch_btn"><a href="#">我要押</a></div>
            </div>
            
             <div class="inv_fina_left_dv borderyellow">
            	<h3 class="inv_fl_h3"><span class="fs16p">申请流程</span></h3>
                <p class="tac"><img src="images/icon40.jpg" width="892" height="97" /></p>
                <ul class="application_process">
                	<li style="padding-left:0;width:180px;">资质申请</li>
                    <li style="padding-left:50px;width:123px;">现货入库</li>
                    <li style="padding-left:84px;width:103px;">放款</li>
                    <li style="padding-left:85px;width:123px;">客户赎货</li>
                    <li style="padding-left:90px;width:90px;">结算</li>
                </ul>
                
                
                
                <div class="buy_varieties byellow">
                	<h4>随你押品种</h4>
                    <ul>
                    	<li>HDPE</li>
                        <li>LDPE</li>
                        <li>LLDPE</li>
                        <li>PP</li>
                        <li>MLLDPE</li>
                        <li>ABS</li>
                        <li>PVC</li>
                        <li>HIPS</li>
                    </ul>
                </div>
                <div class="buy_warehouse byellow">
                	<h4>随你押仓库</h4>
                    <ul>
                    	<li>青岛</li>
                        <li>营口</li>
                        <li>宁波</li>
                        <li>宝山</li>
                        <li>黄埔</li>
                        <li>港东</li>
                        <li>汕头</li>
                        <li>余姚</li>
                    </ul>
                </div>
             </div>
            
        </div>
        
    </div>
</div>


<div class="enterprise_advantage">
	<h3 class="ea_aph3">企业优势</h3>
	<div class="ea_tpi">
        <ul>
            <li class="ea_op1">
                <div class="ea_pic_top1">
                    <p><img src="images/icon45.png" /></p>
                    <p class="fs20p pt10p">低门槛</p>
                    <p class="pt10p">立即申请 资金即手囊中</p>
                </div>
            </li>
            <li class="ea_op2">
                <div class="ea_pic_top2">
                    <p><img src="images/icon46.png" /></p>
                    <p class="fs20p pt10p">随借随还</p>
                    <p class="pt10p">立即申请 资金即手囊中</p>
                </div>
            </li>
            <li class="ea_op3">
                <div class="ea_pic_top3">
                    <p><img src="images/icon47.png" /></p>
                    <p class="fs20p pt10p">闪电融资</p>
                    <p class="pt10p">立即申请 资金即手囊中</p>
                </div>
            </li>
            <li class="ea_op4">
                <div class="ea_pic_top4">
                    <p><img src="images/icon48.png" /></p>
                    <p class="fs20p pt10p">灵活还款</p>
                    <p class="pt10p">立即申请 资金即手囊中</p>
                </div>
            </li>
        </ul>
    </div>
</div>


<div class="cooperative_organization clearfix">
	<h3 class="fs18p pt20p">合作伙伴</h3>
    <ul class="cooperative_organization_list">
    	<li><a href="#"><img src="images/icon14.jpg" /></a></li>
        <li><a href="#"><img src="images/icon15.jpg" /></a></li>
        <li><a href="#"><img src="images/icon16.jpg" /></a></li>
        <li><a href="#"><img src="images/icon17.jpg" /></a></li>
        <li><a href="#"><img src="images/icon18.jpg" /></a></li>
        <li><a href="#"><img src="images/icon14.jpg" /></a></li>
        <li><a href="#"><img src="images/icon15.jpg" /></a></li>
        <li><a href="#"><img src="images/icon16.jpg" /></a></li>
        <li><a href="#"><img src="images/icon17.jpg" /></a></li>
        <li><a href="#"><img src="images/icon18.jpg" /></a></li>
    </ul>
</div>


<div class="footer">
    <p class="tac"><a href="#">企业简介</a>|<a href="#">联系我们</a>|<a href="#">人才招聘</a>|<a href="#">社会责任</a>|<a href="#">法律声明</a>|<a href="#">隐私声明</a></p>
    <p class="tac">&copy;2014-2016上海塑米信息科技有限公司 版权所有 经营许可证编号为：沪B2-20150157 </p>
    <p class="tac">备案许可证编号为：沪ICP备14023491号</p>
</div>



</body>
</html>
